* {
    margin: 0;

    font-family: 'Work Sans', sans-serif;

}
/* banner style  */
.banner{
    background-image: url(./images/banner/banner3.png);
    background-position: 0%;

    left: 0px;
    top: 0px;
    height: 100vh;
}

.all-header{
    margin-right: 230px;
    
    padding-top: 200px;
    
}

.main-header{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: white;
    
}

.sub-header{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    margin-top: 24px;
    color: white;
}

/* button style  */
.btn{
    text-align: right;
}
.btn-primary{
    
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    

    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
    
}

/* first section style  */
.section{
    margin-left: 206px;
    margin-top: 131px;
    margin-right: 322px;
}

.section1{
    display: flex;
    
}

.m-section{
    text-align: left;
    margin-top: 250px;
    margin-left: 87px;
    


}

.s-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 24px;
   
}

.p-section{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* checkbox style  */
.check-list{
    margin-top: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

.checkbox{
    height: 20px;
    width: 20px;
    accent-color: rgb(255, 255, 255);
    background-color: #2600fc;
    
  
}

/* my plan section style  */

.what-do-i-next{
    margin: 130px 230px ;

}

.paln-title-main{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
}


.my-all-plans{
    display: flex;
    justify-content: space-around;
}

.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 24px;
}

.what-i-want{
    color: #737272;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-top: 16px;
}

.plan-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    width: 92.96px;
    height: 92.96px;
}

/* call now banner style  */

.call-now{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;

}

.call-now-banner{
    /* add gradient color on image  */
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(./images/watch.png);
    background-repeat: no-repeat;
    margin: 130px 230px;
    height: 200px;
    padding: 59px 64px;
    border-radius: 8px;
    background-size: cover;
    
}

/* footer style  */

.all-footer{
    display: flex;
    justify-content: space-around;
}

.footer-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.footer-dic{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.contact-img1{
    margin-right: 17px;
}

.subscribe{
    margin-top: 130px;
    margin-right: 229px;
    margin-bottom: 31px;

}

footer{
    background-color: black;
    height: 577px;
    color: white;
}

.my-footer{
    margin: 130px 230px ;

}

.contact-img{
    display: flex;
    justify-content:flex-start; 
    margin-top: 32px;
}

.email{
    /* add email input style  */
    margin-top: 31px;
    margin-bottom: 16px;
    width: 325px;
    height: 64px;
    

    font-size: 18px;
    background: none;
    border: 1px;
    outline: auto;
    color: #ffffff;
    border-radius: 8px;
    padding-left: 10px;


}

/* subscribe button style  */
.btn-subscribe{

    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    

    width: 170px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: #2600fc;
    border-radius: 10px;
    border: none;
}





